[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-countries = "*"
pillow = "*"
python-box = "*"
django-sniplates = "*"

[dev-packages]

[requires]
python_version = "3.8"
