{% extends "../../partials/layout/shell.html" %}
{% load sniplates %}

{% block body %}
{% load_widgets form="partials/form/input.html" %}

<div class="flex flex-col justify-center px-8 md:px-0 my-auto">
  <form method="post">
    <main class="grid grid-cols-1 md:grid-cols-3">
      <div class="md:col-start-2">
        {% if error %}
        <div class="pb-4 text-center text-red-400">
          {{ error }}
        </div>
        {% endif %}

        <div class="bg-white rounded-t border-t border-l border-r overflow-hidden border-gray-200 divide-y">
          {% widget "form:input" name="email" placeholder="&#127757;&nbsp; email" field=form.email error=errors.email %}
          {% widget "form:input" type="password" name="password" placeholder="&#128274;&nbsp; password" field=form.password error=errors.password %}
        </div>

        <div class="rounded-b overflow-hidden">
          {% widget "form:submit" message="login" %}
        </div>
      </div>
    </main>

    {% csrf_token %}
  </form>
</div>
{% endblock %}
