{% block input %}
<div class="w-full">
  <input
    name="{{ name }}"
    type="{{ type | default:'text' }}"
    placeholder="{{ placeholder }}"
    class="w-full p-4 outline-none"
    value="{{ field.value | default:'' }}"
  />

  {% if error %}
  <div class="px-4 pb-4 text-sm text-red-400">
    {{ error }}
  </div>
  {% endif %}
</div>
{% endblock %}


{% block checkbox %}
<label class="p-4 flex items-center justify-between cursor-pointer">
  <span class="w-full text-gray-400">
    {{ label }}
  </span>

  <input
    type="checkbox"
    name="{{ name }}"
    class="form-checkbox rounded-full"
    {% if checked %}checked{% endif %}
  >
</label>
{% endblock %}


{% block submit %}
<button type="submit" class="w-full py-4 bg-gray-600 hover:bg-green-400 text-white transition">
  {{ message | default:"submit" }}
</button>
{% endblock %}
